  <br>
  <strong>Stack</strong>
  <div class='stack-buttons-wrapper'>
    <div id='stack-clear' class='card-button stack-button'>pop</div>
    <div id='stack-view' class='card-button stack-button'>view</div>
    <div id='stack-own' class='card-button stack-button'>own</div>
    <div id='stack-proxy' class='card-button stack-button'>proxy</div>
    <div id='stack-disown' class='card-button stack-button'>disown</div>
    <div id='stack-unproxy' class='card-button stack-button'>unproxy</div>
  </div>
  <div id='stack-container'>

  </div>