<div class='sidebar'>
  <strong>
    <div class='sidebar-item'>
      <%= link_to 'root', '/' %> >
    </div>
    <div>
      <%= @box.name %>
    </div>
  </strong>
  <%= render partial: '/card/card_name_list', locals: { cards: @cards } %>
</div>

<div class='window'>
  <%= render partial: '/card/cards', locals: { cards: @cards }%>
</div>